*.pyc
__pycache__
*.pyo
db.sqlite3
*.map
/pl-py3
/.idea
/staticfiles/*
!/staticfiles/main.css
!/staticfiles/login.css
locale/pl/LC_MESSAGES/django.mo
locale/pl/LC_MESSAGES/djangojs.mo
/backups/*

/polishlody/settings/local.py