{% extends 'polishlody/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans 'Password change' %}{% endblock %}
        
{% block body_block %}

    <div class="panel panel-heading panel-default">
        <h4>{% trans 'Change password' %}</h4>
        <div class="panel-body">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.old_password.errors }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}

                <div class="alert alert-info">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</div>

                {% for e in form %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ e.label }}</label>
                        <div class="col-sm-6">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% endfor %}

                <center>
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
                </center>
            </form>
        </div>
    </div>

{% endblock %}