{% extends 'polishlody/base.html' %}
{% load widget_tweaks %}

{% block title %}Login page{% endblock %}

{% block body_block %}
    
    <form method="post">
        <center>
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            
            <div class="login-form">
                <h2>Login</h2><br>
                {{ form.username|add_class:"form-control"|attr:"placeholder:Email" }}<br>
                {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}<br>
                <button type="submit" class="btn btn-primary btn-login">Login</button>
            </div>
        </center>
    </form>
    <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it!</a></p>

{% endblock %}
