{% extends 'registration/login_base.html' %}

{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block body_block %}
<form method="post" id="form-login">
    <center>
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <div class="login-form">
            <h2>Login
                <a href="{% url 'languageChange' %}" title="{% trans 'Change language' %}"><img src="{% static 'images/Poland-English.png' %}"></a></h2>
            <br>
            <div>
                {{ form.username|add_class:"form-control"|attr:"placeholder:E-mail" }}<br>
            </div>
            {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}<br>
            <button type="submit" class="btn login-btn">{% trans 'Login' %}</button><br>
        <p>{% trans 'Forgot your password?' %}
            <a href="{% url 'password_reset' %}">{% trans 'Click here to reset it!' %}</a>
        </p>
        </div>
    </center>
</form>

{% endblock %}