<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load i18n %}
        <title>{% block title %}{% trans 'Welcome' %}{% endblock %} | Polish lody</title>
        {% load static %}
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load sass_tags %}
        {% load widget_tweaks %}
        <link href="{% sass_src 'main.scss' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href='{% static "js/jquery-ui/jquery-ui.css" %}' />
        <link rel="stylesheet" href='{% static "js/jquery-ui/jquery-ui.theme.css" %}' />
        <link rel="stylesheet" href='{% static "js/jquery-ui/jquery-ui.structure.css" %}'/>
        <link href="{% sass_src 'login.scss' %}" rel="stylesheet"  type="text/css" />
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>
    </head>
    <body>
        <div class="login-container">
            {% block body_block %}{% endblock %}
        </div>
        <div class="login-logo">
            <a href="{% url 'login' %}">
            </a>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>