{% extends 'registration/login_base.html' %}
{% load widget_tweaks %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block body_block %}

<div class="login-form">
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form method="post">{% csrf_token %}
    {{ form.email.errors }}
    <center>
        <label for="id_email">
            {% trans 'Email address:' %}
        </label> 
        {{ form.email|add_class:"form-control" }} 
    </center>
    <br>
    <center>
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
    </center>
    </form>
    <br>
    </p>
        <a href="/">Back to login page.</a>
    </p>
</div>
{% endblock %}
