{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email so You could set password for your new user account at polishlody.com{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you don't know is:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The polishlody.com team{% endblocktrans %}

{% endautoescape %}