SECRET_KEY={{ secret_key }}
POLISH_LODY_APP_DIR={{ app_dir }}
POLISH_LODY_DATA_DIR={{ data_dir }}
POLISH_LODY_BACKUP_DIR={{ backup_dir }}
POLISH_LODY_PORT={{ polish_lody_port }}
POLISH_LODY_DATABASE_NAME={{ database_name }}