import os

ALLOWED_HOSTS = ['localhost', '192.168.8.22']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'polishlody',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': os.environ.get('POLISH_LODY_DATABASE_NAME'),
        'PORT': '5432',
        'ATOMIC_REQUESTS': True,
    }
}

ADMINS = [('Jakub', 'jakubczachura+polishlody@gmail.com'), ('Piotr', 'yoowul+polishlody@gmail.com')]