{% extends 'polishlody/base.html' %}
{% load widget_tweaks %}

{% block title %}Employee{% endblock %}
{% block header_block %}
<div class="panel panel-heading panel-default">
    <h4>
        {% if employee %}
            {{ employee.full_name }}
        <a href="{% url 'employee_detail' employee.id %}" class="btn btn-default">Back</a>
        {% else %}
            New employee
        <a href="{% url 'employees' %}" class="btn btn-default">Back</a>
        {% endif %}
        <p class="append-here"></p>
    </h4>
</div>
{% endblock %}
{% block body_block %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.email.errors }}
                        {{ form.first_name.errors }}
                        {{ form.last_name.errors }}
                        {{ form.password1.errors }}
                        {{ form.password2.errors }}
                        {{ form.contract_start_date.errors }}
                        {{ form.contract_exp_date.errors }}
                        {{ form.health_book_exp_date.errors }}
                        {{ form.bank_account_number.errors }}
                        {{ form.phone_contact_number.errors }}
                        {{ form.address_zip_code.errors }}
                    </div>
                {% endif %}
                {% for e in form %}
                    <div class="form-group">
                        {% if e.label == 'Email address' or e.label == 'First name' or e.label == 'Last name' %}
                        <label class="col-sm-2 control-label">{{ e.label }}<span class="required"> *</span></label>
                        <div class="input-group col-sm-9">
                            {{ e|add_class:"form-control" }}
                            {% if e.label == 'Email address' %}
                                <span class="glyphicon glyphicon-remove icon-false verify-email"></span>
                            {% endif %}
                        </div>
                        {% elif e.label == 'Contract start date' or e.label == 'Contract exp date' or e.label == 'Health book exp date' %}
                        <label class="col-sm-2 control-label">{{ e.label }}</label>
                        <div class="input-group col-sm-9">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            {{ e|add_class:"form-control" }}
                        </div>
                        <!-->
                        {% elif e.label == 'Address city' %}
                        <label class="col-sm-2 control-label"> Address city </label>
                        <div class="input-group col-sm-9 ">
                            {{ e|add_class:"form-control" }}
                        </div>
                        </-->
                        {% else %}
                        <label class="col-sm-2 control-label">{{ e.label }}</label>
                        <div class="input-group col-sm-9 ">
                            {{ e|add_class:"form-control" }}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <center>
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                    {% if employee and user.is_staff %}
                        <a href="{% url 'employee_delete' employee.id %}" class="btn btn-danger">Delete employee</a>
                    {% else %}
                    {% endif %}
                    
                </center>
                <br>
            </form>
        </div>
    </div>

<script>

$(document).ready(function(){
    $('#id_bank_account_number').mask('00 0000 0000 0000 0000 0000 0000')
    $('#id_phone_contact_number').mask('+00 000 000 000')
    $('#id_address_zip_code').mask('00-000');

});

</script>


<script>
$(function() {
  $("#id_address_city").autocomplete({
    serviceUrl: "autocomplete/",
    minChars: 3
  });
});
</script>

{% endblock %}