{% extends 'polishlody/base.html' %}

{% block title %}Employee list{% endblock %}

{% block header_block %}
<div class="panel panel-heading panel-default">
    <center>
        <h4>Employee list</h4>
    </center>
</div>
{% endblock %}
{% block body_block %}
{% if all_employee_list is not None %}
    <a href="{% url 'employee_new' %}" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add employee</a><br><br>
    <a name="employee-table"></a>
    <div class="panel-body filter-forms">
        <form>
            <input class="vis-hidden" type="checkbox" value="Clear filters"/>
            <label class="my-button clickable" onclick="uncheckFilters();">Clear filters</label>
        </form>
    </div>
    <form id="auto-submit-form" method="get" data-submit-delay="{{form_submit_delay}}" 
    action="{% url 'employees' %}" onkeypress="return event.keyCode != 13;">
        <div class="panel-body filter-forms">
            {% if position_sale %}
                <input id="pos_sale" type="checkbox" checked class="vis-hidden" name="position_sale">
            {% else %}
                <input id="pos_sale" type="checkbox" class="vis-hidden" name="position_sale">
            {% endif %}
            <label class="my-button clickable" for="pos_sale">Sale</label>
            {% if position_production %}
                <input id="pos_production" type="checkbox" checked class="vis-hidden" name="position_production">
            {% else %}
                <input id="pos_production" type="checkbox" class="vis-hidden" name="position_production">
            {% endif %}
            <label class="my-button clickable" for="pos_production">Production</label>
            {% if position_other %}
                <input id="pos_other" type="checkbox" checked class="vis-hidden" name="position_other">
            {% else %}
                <input id="pos_other" type="checkbox" class="vis-hidden" name="position_other">
            {% endif %}
            <label class="my-button clickable" for="pos_other">Other</label>

            {% if hide_zero_salary_months %}
                <input id="chk_paid" checked type="checkbox" class="vis-hidden"
                   name="hide_zero_salary_months" />
            {% else %}
                <input id="chk_paid" type="checkbox" class="vis-hidden"
                   name="hide_zero_salary_months" />
            {% endif %}
            <label class="my-button clickable" for="chk_paid">Show only employees who have been paid already.</label>
            {% if hide_paid_employees_filter %}
                <input id="chk_unpaid" type="checkbox" checked class="vis-hidden"
                   name="hide_paid_employees_filter" />
            {% else %}
                <input id="chk_unpaid" type="checkbox"  class="vis-hidden"
                   name="hide_paid_employees_filter" />
            {% endif %}
            <label class="my-button clickable" for="chk_unpaid">Show only employees who weren't paid yet.</label>
            Search for employee: <input type="text" class="clickable" placeholder="{{ employee_filter }}" name="employee_filter" id="employee_filter"/>
            <select hidden name="per_page" class="clickable" id="per-page">
                {% for number in paginate_by_numbers %}
                    {% if current_paginate_by_number == number %}
                        <option selected value="{{ number }}">{{number}}</option>
                    {% else %}
                        <option value="{{ number }}">{{number}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <img class="loading-icon pull-right" src="../../static/images/loading-icon.svg">
        </div>
        {% endif %}
{% endblock %}
{% block load_block %}
    {% include 'employees/employee_list_table.html' %}       
{% endblock %}
{% block footer_block %}
    {% if all_employee_list %}
    <div class='panel-body'>
        <span>Employees per page:</span><br/>
        <ul class="pagination paginate">
            {% for number in paginate_by_numbers %}
                {% if current_paginate_by_number == number %}
                    <li class="active page-no" id="per-page-{{ number }}">
                        <a>
                            {{ number }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-no" id="per-page-{{ number }}">
                        <a>
                            {{ number }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul><br/>
    </div>
    <script>
        $(function() {
            {% for number in paginate_by_numbers %}
            $('#per-page-{{number}}').click(function(){
                $('.page-no').removeClass('active');
                $('#per-page-{{number}}').addClass('active');
                $('input[name=pg]:checked').prop('checked', false);
                $('select[name=per_page]>option:eq({{forloop.counter0}})').prop('selected',true);
                make_request();
            });
            {% endfor %}
        });
        function gatherFilters() {
            return {
                order: $('input[name=order]:checked', '#auto-submit-form').val(),
                employee_filter: $('#employee_filter').val(),
                position_sale: $('input[name=position_sale]:checked').val(),
                position_other: $('input[name=position_other]:checked').val(),
                position_production: $('input[name=position_production]:checked').val(),
                hide_paid_employees_filter: $('input[name=hide_paid_employees_filter]:checked').val(),
                hide_zero_salary_months: $('input[name=hide_zero_salary_months]:checked').val(),
                per_page: $('select[name=per_page]').val(),
                page: $('input[name=pg]:checked').val(),
            }
        }
    </script>
    {% elif not messages %}
    <p>The list of employees is empty, you can change it by <a href="{% url 'employee_new' %}">adding a new employee.</a></p>
    {% endif %}
{% endblock %}
