{% extends 'polishlody/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Details' %}{% endblock %}

{% block header_block %}
    <div class="panel panel-heading panel-default">
        <h4>{{ employee.full_name }}
        {% if user.is_staff %}
            <a href="{% url 'employee_edit' employee.id %}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="{% trans 'Edit employee' %}"></span>
            </a>
            <a href="{% url 'employee_delete' employee.id %}"> 
                <span class="glyphicon glyphicon-trash" title="{% trans 'Delete employee' %}"></span>
            </a>
        {% endif %}
        </h4>
        <a href="{% url 'employees' %}" class="btn btn-default">{% trans 'Back' %}</a>
    </div>
{% endblock %}
{% block body_block %}
    {% if employee %}
        <div class="panel-default">
            <table class="table">
                <tr>
                    <td>
                        {% trans 'Email:' %}
                    </td>
                    <td>
                        {{ employee.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Rate per hour:' %}
                    </td>
                    <td>
                        {% if employee.rate_per_hour %}
                            {{ employee.rate_per_hour }}zł
                        {% else %}
                            {% trans 'Not specified' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contract start date:' %}
                    </td>
                    <td>
                        {% if employee.contract_start_date %}
                        {{ employee.contract_start_date }}
                        {% else %}
                            {% trans 'Not specified' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contract expiration date:' %}
                    </td>
                    <td>
                        {% if employee.contract_exp_date %}
                            {{ employee.contract_exp_date }}
                            {% if employee.is_contract_expiring > 0 and warning_x_days_left > employee.is_contract_expiring %}
                                <span title="{% trans 'Contract expires in about' %} {{ employee.is_contract_expiring }} {% trans 'days.' %}"
                                    class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                            {% elif employee.is_contract_expiring == 0 and warning_x_days_left %}
                                <span title="{% trans 'Contract expires within 24 hours!' %}"
                                    class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                            {% elif employee.is_contract_expiring.1 == 1%}
                                <span title="{% trans 'Contract expired yesterday!' %}"
                                    class="glyphicon glyphicon-warning-sign employee-list"></span>
                            {% elif employee.is_contract_expiring.1 %}
                                <span title="{% trans 'Contract expired' %} {{ employee.is_contract_expiring.1 }} {% trans 'days ago!' %}"
                                    class="glyphicon glyphicon-warning-sign employee-list"></span>
                            {% endif %}
                        {% else %}
                            {% trans 'Not specified' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Health book expiration date:' %}
                    </td>
                    {% if employee.is_health_book_expiring %}
                    <td>
                        {{ employee.health_book_exp_date }}
                        {% if employee.is_health_book_expiring > 0 and warning_x_days_left > employee.is_health_book_expiring %}
                            <span title="{% trans 'Health book expires in about' %} {{ employee.is_health_book_expiring }} {% trans 'days.' %}"
                                class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                        {% elif employee.is_health_book_expiring == 0 and warning_x_days_left %}
                            <span title="{% trans 'Health book expires within 24 hours!' %}"
                                class="glyphicon glyphicon-exclamation-sign employee-list "></span>
                        {% elif employee.is_health_book_expiring.1 == 1 %}
                            <span title="{% trans 'Health book expired yesterday!' %}"
                                class="glyphicon glyphicon-warning-sign employee-list "></span>
                        {% elif employee.is_health_book_expiring.1 %}
                            <span title="{% trans 'Health book expired' %} {{ employee.is_health_book_expiring.1 }} {% trans 'days ago!' %}"
                                class="glyphicon glyphicon-warning-sign employee-list "></span>
                        {% endif %}
                    </td>
                    {% else %}
                    <td>
                        {% trans 'Not specified' %}
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        {% trans 'Position:' %}
                    </td>
                    <td>
                        {% if employee.get_position_display %}
                            {{ employee.get_position_display }}
                        {% else %}
                            {% trans 'Not specified' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contract type:' %}
                    </td>
                    <td>
                        {% if employee.get_position_display %}
                            {{ employee.get_contract_type_display }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Address city
                    </td>
                    <td>
                        {{ employee.address_city }}
                    </td>
                </tr>
                </table>
                {% if user.is_staff %}
                    <a href="{% url 'month_new' employee.pk %}" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Month</a><br><br>
                {% endif %}
            </div>
            <a name="month-table"></a>
            <center>
                <img class="loading-icon" src="../../static/images/loading-icon.svg">
            </center>
            <div class="panel-body">
            {% if years %}
            <div class="panel-body filter-forms">
                <form>
                    <input class="vis-hidden" type="checkbox" value="Clear filters"/>
                    <label class="my-button clickable" onclick="uncheckFilters();">Clear filters</label>
                </form>
            <form id="auto-submit-form" method="get" data-submit-delay="{{form_submit_delay}}" action="{% url 'employee_detail' employee.id %}">
                <span>Show year:</span>
                    {% if selected_years %}
                        {% if years_5 %}
                            {% for year in years %}
                                {% if year in selected_years %}
                                    <input id="year_{{ year }}" checked type="checkbox" class="vis-hidden clickable"
                                           name="yr{{ year }}" />
                                {% else %}
                                    <input id="year_{{ year }}" type="checkbox" class="vis-hidden clickable"
                                           name="yr{{ year }}" />
                                {% endif %}
                                    <label class="my-button clickable" id="{{ year }}" for="year_{{ year }}">{{ year }}</label>
                            {% endfor %}
                            {% if years_hidden %}
                                <button type="button" class="my-button dont-show-those" id="hide-btn">
                                    <b>Expand year options</b>
                                </button>
                                <button type="button" class="my-button" id="collapse-btn">
                                    <b>Collapse list</b>
                                </button>
                            {% endif %}
                        {% else %}
                            {% trans 'Not specified' %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    <div>
        {% if user.is_staff %}
            <a href="{% url 'month_new' employee.pk %}" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{% trans ' Add Month' %}</a>
        {% endif %}
        <img class="loading-icon" src="../../static/images/loading-icon.svg">
        <br><br>
    </div>
    <div id="msg">

    </div>
    {% if years %}
        <form id="auto-submit-form" method="get" data-submit-delay="{{form_submit_delay}}" action="{% url 'employee_detail' employee.id %}">
            <div class="filter-forms">
            <span>{% trans 'Show year:' %}</span>
                {% if selected_years %}
                    <div class="filter-forms">
                        <ul class="filters">
                            {% if years_5 %}
                                {% for year in years %}
                                <li class="filter">
                                    {% if year in selected_years %}
                                        <input id="year_{{ year }}" checked type="checkbox" class="vis-hidden clickable"
                                               name="yr{{ year }}" />
                                    {% else %}
                                        <input id="year_{{ year }}" type="checkbox" class="vis-hidden clickable"
                                               name="yr{{ year }}" />
                                    {% endif %}
                                        <label class="my-button clickable" id="{{ year }}" for="year_{{ year }}">{{ year }}</label>
                                </li>
                                {% endfor %}
                                {% if years_hidden %}
                                <li class="filter">
                                    <button type="button" class="my-button dont-show-those" id="hide-btn">
                                        <b>{% trans 'Expand year options' %}</b>
                                    </button>
                                </li>
                                <li class="filter">
                                    <button type="button" class="my-button" id="collapse-btn">
                                        <b>{% trans 'Collapse list' %}</b>
                                    </button>
                                </li>
                                {% endif %}
                            {% else %}
                                {% for year in years %}
                                    {% if forloop.counter < 6 %}
                                        {% if year in selected_years %}
                                        <li class="filter">
                                            <input id="year_{{ year }}" checked type="checkbox" class="vis-hidden"
                                                   name="yr{{ year }}" />
                                        {% else %}
                                            <input id="year_{{ year }}" type="checkbox" class="vis-hidden"
                                                   name="yr{{ year }}" />
                                        {% endif %}
                                            <label class="my-button clickable" id="{{ year }}" for="year_{{ year }}">{{ year }}</label>
                                        </li>
                                    {% else %}
                                    <li class="filter">
                                        {% if year in selected_years %}
                                            <input id="year_{{ year }}" checked type="checkbox" class="vis-hidden"
                                                   name="yr{{ year }}" />
                                        {% else %}
                                            <input id="year_{{ year }}" type="checkbox" class="vis-hidden"
                                                   name="yr{{ year }}" />
                                        {% endif %}
                                            <label class="my-button dont-show-those clickable" id="{{ year }}" for="year_{{ year }}">{{ year }}</label>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if years_hidden %}
                                <li class="filter">
                                    <button type="button" class="my-button" id="hide-btn">
                                        <b>{% trans 'Expand year options' %}</b>
                                    </button>
                                </li>
                                <li class="filter">
                                    <button type="button" class="my-button dont-show-those" id="collapse-btn">
                                        <b>{% trans 'Collapse list' %}</b>
                                    </button>
                                </li>
                                {% endif %}
                            {% endif %}
                            {% else %}
                                {% for year in years %}
                                <li class="filter">
                                    <input id="year_{{ year }}" type="checkbox" class="vis-hidden" name="yr{{ year }}" />
                                    {% if forloop.counter < 6 %}
                                    <label class="my-button clickable" id="{{ year }}" for="year_{{ year }}">{{ year }}</label>
                                    {% else %}
                                    <label class="my-button dont-show-those clickable" id="{{ year }}" for="year_{{ year }}">{{ year }}</label>
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {% if years_hidden %}
                                <li class="filter">
                                    <label class="my-button" id="hide-btn">
                                        <b>{% trans 'Expand year options' %}</b>
                                    </label>
                                </li>
                                <li class="filter">
                                    <label class="my-button dont-show-those" id="collapse-btn">
                                        <b>{% trans 'Collapse list' %}</b>
                                    </label>
                                </li>
                                {% endif %}
                            {% endif %}
                            <li class="filter">
                            {% if hide_unpaid_months_filter %}
                                <input id="paid_months" checked type="checkbox" class="vis-hidden"
                                       name="hide_unpaid_months_filter" />
                                {% else %}
                                <input id="paid_months" type="checkbox" class="vis-hidden"
                                       name="hide_unpaid_months_filter" />
                                {% endif %}
                                <label class="my-button clickable" for="paid_months">{% trans 'Hide unpaid months.' %}</label>
                            </li>
                            <li class="filter">
                                {% if hide_paid_months_filter %}
                                <input id="unpaid_months" type="checkbox" checked class="vis-hidden"
                                       name="hide_paid_months_filter" />
                                {% else %}
                                <input id="unpaid_months" type="checkbox"  class="vis-hidden"
                                       name="hide_paid_months_filter" />
                                {% endif %}
                                <label class="my-button clickable" for="unpaid_months">{% trans 'Hide paid months.' %}</label>
                            </li>
                            <li class="filter">
                                <input class="vis-hidden" type="checkbox" value="Clear filters"/>
                                <label class="my-button clickable" onclick="uncheckFilters();">{% trans 'Reset filters' %}</label>
                            </li>
                            <br/>
                            <select hidden name="per_page">
                                {% for number in paginate_by_numbers %}
                                    {% if current_paginate_by_number == number %}
                                        <option selected value="{{ number }}">{{number}}</option>
                                    {% else %}
                                        <option value="{{ number }}">{{number}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </ul>
                    </div>
            {% endif %}
    {% include 'employees/employee_detail_table.html' %}
    {% if years is not False %}
    <div>
        <span>{% trans 'Months per page:' %}</span><br/>
        <ul class="pagination paginate">
            {% for number in paginate_by_numbers %}
                {% if current_paginate_by_number == number %}
                    <li class="active page-no" id="per-page-{{ number }}">
                        <a>
                            {{ number }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-no" id="per-page-{{ number }}">
                        <a>
                            {{ number }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul><br/>
    </div>
    {% endif %}
    {% else %}
        <p>{% trans 'Employee not found' %}</p><br/>
    {% endif %}
    <script>
        $(document).ready(function(e) {
            $('#hide-btn').click(function() {
                {% for year in years_hidden %}
                    $('#{{ year }}').css("display","inline-block");
                {% endfor %}
                $('#hide-btn').css("display","none");
                $('#collapse-btn').css("display", "inline-block");
            });
        });
        $(document).ready(function(e) {
            $('#collapse-btn').click(function() {
                {% for year in years_hidden %}
                    $('#{{ year }}').css("display","none");
                {% endfor %}
                $('#hide-btn').css("display","inline-block");
                $('#collapse-btn').css("display", "none");
            });
        });
        {% for number in paginate_by_numbers %}
        $('#per-page-{{number}}').bind('click', function(){
            $('.page-no').removeClass('active');
            $('#per-page-{{number}}').addClass('active');
            $('input[name=pg]:checked').prop('checked', false);
            $('select[name=per_page]>option:eq({{forloop.counter0}})').prop('selected',true);
            try {
                var parameters = gatherFilters();
                delete parameters.page;
            } 
            catch(err) {
                var parameters = { };
            }
            makeRequest(parameters);
        });
        {% endfor %}
        {% if years is not False %}
        function gatherFilters() {
            var orderby = $('input[name=order]:checked').val();
            return {
                order: orderby,
                {% for year in years %}
                    {{ year }}: $('input[name=yr{{year}}]:checked').val(),
                {% endfor %}
                hide_paid_months_filter: $('input[name=hide_paid_months_filter]:checked').val(),
                hide_unpaid_months_filter: $('input[name=hide_unpaid_months_filter]:checked').val(),
                per_page: $('select[name=per_page]').val(),
                page: $('input[name=pg]:checked').val(),
            }
        }
        {% endif %}
    </script>
{% endblock %}