{% extends 'polishlody/base.html' %}
{% load widget_tweaks %}

{% block title %}Employee{% endblock %}
        
{% block body_block %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {% if employee %}
                    {{ employee.full_name }}
                <a href="{% url 'employee_detail' employee.id %}" class="btn btn-default">Back</a>
                {% else %}
                    New employee
                <a href="{% url 'employees' %}" class="btn btn-default">Back</a>
                {% endif %}

            </h4>
        </div>
        <div class="panel-body">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.email.errors }}
                        {{ form.first_name.errors }}
                        {{ form.last_name.errors }}
                        {{ form.contract_start_date.errors }}
                        {{ form.contract_exp_date.errors }}
                        {{ form.health_book_exp_date.errors }}
                    </div>
                {% endif %}
                {% for e in form %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ e.label }}</label>
                        <div class="col-sm-9">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% endfor %}
                <br>
                <center>
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                    {% if employee %}
                        <a href="{% url 'employee_delete' employee.id %}" class="btn btn-danger">Delete employee</a>
                    {% else %}
                    {% endif %}
                </center>
                <br>
            </form>
        </div>
    </div>

{% endblock %}