{% load i18n %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<div class="ajax-loader">
    <table class="table table-hover">
        <thead>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
              rel="stylesheet">

        <tr>
            <td>

            </td>
            <td class="cursor-hover" align="center" valign="middle">
                <div class="sort-buttons">
                    <b>{% trans 'Full name' %}</b></br>
                    {% if orderby == 'last_name' %}
                        <input id="last-name-up" checked type="radio" class="sorting sort-up"
                               name="order" value="last_name"/>
                    {% else %}
                        <input id="last-name-up" type="radio" class="sorting sort-up"
                               name="order" value="last_name"/>
                    {% endif %}
                    <label title="{% trans 'Sort alphabetically ascending' %}"
                           class="glyphicon glyphicon-chevron-up clickable"
                           for="last-name-up"></label>
                    {% if orderby == '-last_name' %}
                        <input id="last-name-down" checked type="radio" class="sorting sort-down"
                               name="order" value="-last_name"/>
                    {% else %}
                        <input id="last-name-down" type="radio" class="sorting sort-down"
                               name="order" value="-last_name"/>
                    {% endif %}
                    <label title="{% trans 'Sort alphabetically descending' %}"
                           class="glyphicon glyphicon-chevron-down clickable"
                           for="last-name-down"></label>
                </div>
            </td>
            <td class="cursor-hover" align="center" valign="middle">
                <b>{% trans 'Rate per hour ' %}(zł)</b>
                <div class="sort-buttons">
                    {% if orderby == 'rate_per_hour' %}
                        <input id="rate-per-hour-up" checked type="radio" class="sorting sort-up"
                               name="order" value="rate_per_hour"/>
                    {% else %}
                        <input id="rate-per-hour-up" type="radio" class="sorting sort-up"
                               name="order" value="rate_per_hour"/>
                    {% endif %}
                    <label title="{% trans 'Sort ascending' %}" class="glyphicon glyphicon-chevron-up clickable"
                           for="rate-per-hour-up"></label>
                    {% if orderby == '-rate_per_hour' %}
                        <input id="rate-per-hour-down" checked type="radio" class="sorting sort-down"
                               name="order" value="-rate_per_hour"/>
                    {% else %}
                        <input id="rate-per-hour-down" type="radio" class="sorting sort-down"
                               name="order" value="-rate_per_hour"/>
                    {% endif %}
                    <label title="{% trans 'Sort descending' %}" class="glyphicon glyphicon-chevron-down clickable"
                           for="rate-per-hour-down"></label>
                </div>
            </td>
            <td class="cursor-hover" align="center" valign="middle">
                <b>{% trans 'Position' %}</b>
            </td>
            <td class="cursor-hover" align="center" valign="middle">
                <b>{% trans 'Contract expiration date' %}</b>
                <div class="sort-buttons">
                    {% if orderby == 'contract_exp_date' %}
                        <input id="contract-exp-up" checked type="radio" class="sorting sort-up"
                               name="order" value="contract_exp_date"/>
                    {% else %}
                        <input id="contract-exp-up" type="radio" class="sorting sort-up"
                               name="order" value="contract_exp_date"/>
                    {% endif %}
                    <label title="{% trans 'Sort by contract expiration date ascending' %}"
                           class="glyphicon glyphicon-chevron-up clickable"
                           for="contract-exp-up"></label>
                    {% if orderby == '-contract_exp_date' %}
                        <input id="contract-exp-down" checked type="radio" class="sorting sort-down"
                               name="order" value="-contract_exp_date"/>
                    {% else %}
                        <input id="contract-exp-down" type="radio" class="sorting sort-down"
                               name="order" value="-contract_exp_date"/>
                    {% endif %}
                    <label title="{% trans 'Sort by contract expiration date descending' %}"
                           class="glyphicon glyphicon-chevron-down clickable"
                           for="contract-exp-down"></label>
                </div>
            </td>
            <td class="cursor-hover" align="center" valign="middle">
                <b>{% trans 'Health book expiration date' %}</b>
                <div class="sort-buttons">
                    {% if orderby == 'health_book_exp_date' %}
                        <input id="health-book-up" checked type="radio" class="sorting sort-up"
                               name="order" value="health_book_exp_date"/>
                    {% else %}
                        <input id="health-book-up" type="radio" class="sorting sort-up"
                               name="order" value="health_book_exp_date"/>
                    {% endif %}
                    <label title="{% trans 'Sort by health book expiration date ascending' %}"
                           class="glyphicon glyphicon-chevron-up clickable"
                           for="health-book-up"></label>
                    {% if orderby == '-health_book_exp_date' %}
                        <input id="health-book-down" checked type="radio" class="sorting sort-down"
                               name="order" value="-health_book_exp_date"/>
                    {% else %}
                        <input id="health-book-down" type="radio" class="sorting sort-down"
                               name="order" value="-health_book_exp_date"/>
                    {% endif %}
                    <label title="{% trans 'Sort by health book expiration date descending' %}"
                           class="glyphicon glyphicon-chevron-down clickable"
                           for="health-book-down"></label>
                </div>
            </td>
            <td class="cursor-hover" align="center" valign="middle">
                <b>{% trans 'Total unpaid salaries ' %}(zł)</b>
                <div class="sort-buttons">
                    {% if orderby == 'unpaid_salaries' %}
                        <input id="unpaid-salaries-up" checked type="radio" class="sorting sort-up"
                               name="order" value="unpaid_salaries"/>
                    {% else %}
                        <input id="unpaid-salaries-up" type="radio" class="sorting sort-up"
                               name="order" value="unpaid_salaries"/>
                    {% endif %}
                    <label title="{% trans 'Sort by unpaid salaries ascending' %}"
                           class="glyphicon glyphicon-chevron-up clickable"
                           for="unpaid-salaries-up"></label>
                    {% if orderby == '-unpaid_salaries' %}
                        <input id="unpaid-salaries-down" checked type="radio" class="sorting sort-down"
                               name="order" value="-unpaid_salaries"/>
                    {% else %}
                        <input id="unpaid-salaries-down" type="radio" class="sorting sort-down"
                               name="order" value="-unpaid_salaries"/>
                    {% endif %}
                    <label title="{% trans 'Sort by unpaid salaries descending' %}"
                           class="glyphicon glyphicon-chevron-down clickable"
                           for="unpaid-salaries-down"></label>
                </div>
            </td>
        </tr>
        </thead>
        {% if page_employee_list %}
            <tbody id="emp-list">
            {% for employee in page_employee_list %}
                <tr>
                    <td>

                        <a href="{% url 'employee_edit' employee.id %}">
                    <span title="{% trans 'Edit employee' %} {{ employee }}" class="glyphicon glyphicon-pencil"
                          aria-hidden="true"></span></a>

                    </td>
                    <td>
                        <a href="{% url 'employee_detail' employee.pk %}"
                           name="employee-from-list"  id='employee-name{{ employee.pk }}'  >{{ employee.full_name }}</a>
                    </td>
                    <td align="center" valign="middle">
                        {{ employee.rate_per_hour }}
                    </td>
                    <td align="center" valign="middle">
                        {% if employee.position %}
                            {{ employee.get_position_display }}
                        {% else %}
                            {% trans 'N/A' %}
                        {% endif %}
                    </td>


                    <td class="employee-list-date" style="display:table-cell">

                        <div id="contract_exp_div{{ employee.id }}" style="display:inline">


                            {% if employee.is_contract_expiring > 0 and warning_x_days_left > employee.is_contract_expiring %}
                                <span title="{% trans 'Contract expires in about' %} {{ employee.is_contract_expiring }} {% trans 'days.' %}"
                                      class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                            {% elif employee.is_contract_expiring == 0 and warning_x_days_left %}
                                <span title="{% trans 'Contract expires within 24 hours!' %}"
                                      class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                            {% elif employee.is_contract_expiring.1 == 1 %}
                                <span title="{% trans 'Contract expired yesterday!' %}"
                                      class="glyphicon glyphicon-warning-sign employee-list"></span>
                            {% elif employee.is_contract_expiring.1 %}
                                <span title="{% trans 'Contract expired' %} {{ employee.is_contract_expiring.1 }} {% trans 'days ago!' %}"
                                      class="glyphicon glyphicon-warning-sign employee-list"></span>
                            {% endif %}



                            {% if employee.contract_exp_date %}
                                <span class="employee-list-date">{{ employee.contract_exp_date|date:"d.m.Y" }} </span>


                                </div>

                                <span class="employee-list-date" style="display:inline">



                  <input type="button" class="vis-hidden"/>
             <label id="add_1_id{{ employee.pk }}" class="contract_extend">+1M</label>

                 <input type="button" class="vis-hidden"/>
             <label id="add_3_id{{ employee.pk }}" class="contract_extend">+3M</label>







                </span>
                            {% else %}
                                <p>{% trans 'N/A' %}</p>
                            {% endif %}


                    </td>

                    <td class="employee-list-date">
                        {% if employee.is_health_book_expiring > 0 and warning_x_days_left > employee.is_health_book_expiring %}
                            <span title="{% trans 'Health book expires in about' %} {{ employee.is_health_book_expiring }} {% trans 'days.' %}"
                                  class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                        {% elif employee.is_health_book_expiring == 0 and warning_x_days_left %}
                            <span title="{% trans 'Health book expires within 24 hours!' %}"
                                  class="glyphicon glyphicon-exclamation-sign employee-list "></span>
                        {% elif employee.is_health_book_expiring.1 == 1 %}
                            <span title="{% trans 'Health book expired yesterday!' %}"
                                  class="glyphicon glyphicon-warning-sign employee-list "></span>
                        {% elif employee.is_health_book_expiring.1 %}
                            <span title="{% trans 'Health book expired' %} {{ employee.is_health_book_expiring.1 }} {% trans 'days ago!' %}"
                                  class="glyphicon glyphicon-warning-sign employee-list "></span>
                        {% endif %}
                        {% if employee.health_book_exp_date %}
                            <span class="employee-list-date">{{ employee.health_book_exp_date|date:"d.m.Y" }}</span>
                        {% else %}
                            <p>{% trans 'N/A' %}</p>
                        {% endif %}
                    </td>
                    <td class="sorttable_numeric" align="center" valign="middle">
                        {% if employee.all_unpaid_salaries == 0 %}
                            0.00
                        {% elif employee.all_unpaid_salaries != 0 and employee.all_unpaid_salaries != None %}
                            {{ employee.all_unpaid_salaries }}
                        {% else %}
                            {% trans 'N/A' %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            </table>

            <div>

        {% else %}
            <p>{% trans 'No matches found.' %}</p>
        {% endif %}


        <div class="paginated">
            {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    {% for i in paginator.page_range %}
                        {% if forloop.counter == 1 %}
                            {% if page_obj.has_previous %}
                                <li class="pg-clickable">
                                    <input id="pg-previous" type="radio" class="vis-hidden"
                                           name="pg" value="{{ page_obj.previous_page_number }}"/>
                                    <label class="my-button previous clickable"
                                           for="pg-previous">&laquo; {% trans 'Previous' %}</label>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <label class="my-button previous disabled">&laquo; {% trans 'Previous' %}</label>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if page_obj.number == i %}
                            <li class="active pg-clickable">
                                <input id="pg-{{ i }}" type="radio" checked class="vis-hidden"
                                       name="pg" value="{{ i }}"/>
                                <label class="my-button clickable pg-active" id="pg-label{{ i }}-checked"
                                       for="pg-{{ i }}">{{ i }}</label>
                            </li>
                        {% else %}
                            <li class="pg-clickable">
                                <input id="pg-{{ i }}" type="radio" class="vis-hidden"
                                       name="pg" value="{{ i }}"/>
                                <label class="my-button clickable" id="pg-label{{ i }}-not-checked"
                                       for="pg-{{ i }}">{{ i }}</label>
                            </li>
                        {% endif %}
                        {% if forloop.last %}
                            {% if page_obj.has_next %}
                                <li class="pg-clickable">
                                    <input id="pg-next" type="radio" class="vis-hidden"
                                           name="pg" value="{{ page_obj.next_page_number }}"/>
                                    <label class="my-button next clickable" for="pg-next">{% trans 'Next' %}
                                        &raquo;</label>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <label class="my-button next disabled">{% trans 'Next' %} &raquo;</label>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </ul>

                <br/>
            {% endif %}
        </div>


        <script>


            $('.contract_extend').click(function () {


                let fullId = this.id;
                let extensionLength = fullId.substring(0, 8);
                let id = fullId.substring(8);
                extendContract(extensionLength, id);

            });


            function extendContract(extensionLength, employeeId) {


                const data = {
                    extensionLength: extensionLength,
                    employeeId: employeeId
                };

                $.ajax({
                    url: 'employee_action/',
                    data: data,
                    dataType: "html",
                    method: "POST",
                    timeout: 10000,


                    success: function (content) {

                        let obj = JSON.parse(content);
                        let status = obj[0];
                        console.log(status);
                        let name = obj[1];
                        let date = obj[2];

                       if (status===true) {


                           let day = date.substring(9, 11);
                           let month = date.substring(6, 8);
                           let year = date.substring(1, 5);
                           let new_date = day + '.' + month + '.' + year;

                           selector_id = '#contract_exp_div' + employeeId;
                           $(selector_id).html('<span class="employee-list-date">' + new_date);
                       }

                       else{

                    alert('Problem z przedłużeniem kontraktu dla pracownika '+name+'. Proszę odświeżyć stronę i sprawdzić poprawność danych.');




                       }


                    }
                }).fail(function () {


                   let empName= $('#employee-name'+employeeId).html();



                    alert('Problem z przedłużeniem kontraktu dla pracownika '+empName+'. Proszę odświeżyć stronę i sprawdzić poprawność danych.');




                });
            }

            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                    if (options['type'].toLowerCase() === "post") {
                        jqXHR.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    }
                }
            );


        </script>
        </div>
    </form>

</div>