{% extends 'polishlody/base.html' %}

{% block title %}Employee list{% endblock %}
        
{% block body_block %}

    <center>
        <h4>Employee list</h4>
    </center>

    <a href="{% url 'employee_new' %}" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add employee</a><br><br>
    <a name="employee-table"></a>
    <div class="panel-body filter-forms">
        <form id="auto-submit-form" onclick="autoSubmitForm();" method="get" action="{% url 'employees' %}">
            {% if position_sale %}
            <input id="pos_sale" type="checkbox" checked class="vis-hidden" name="position_sale">
            {% else %}
            <input id="pos_sale" type="checkbox" class="vis-hidden" name="position_sale">
            {% endif %}
            <label class="my-button" for="pos_sale">Sale</label>
            {% if position_production %}
            <input id="pos_production" type="checkbox" checked class="vis-hidden" name="position_production">
            {% else %}
            <input id="pos_production" type="checkbox" class="vis-hidden" name="position_production">
            {% endif %}
            <label class="my-button" for="pos_production">Production</label>
            {% if position_other %}
            <input id="pos_other" type="checkbox" checked class="vis-hidden" name="position_other">
            {% else %}
            <input id="pos_other" type="checkbox" class="vis-hidden" name="position_other">
            {% endif %}
            <label class="my-button" for="pos_other">Other</label>

            {% if hide_zero_salary_months %}
            <input id="chk_paid" checked type="checkbox" class="vis-hidden"
                   name="hide_zero_salary_months" />
            {% else %}
            <input id="chk_paid" type="checkbox" class="vis-hidden"
                   name="hide_zero_salary_months" />
            {% endif %}
            <label class="my-button" for="chk_paid">Show only employees who have been paid already.</label>
            {% if hide_paid_employees_filter %}
            <input id="chk_unpaid" type="checkbox" checked class="vis-hidden"
                   name="hide_paid_employees_filter" />
            {% else %}
            <input id="chk_unpaid" type="checkbox"  class="vis-hidden"
                   name="hide_paid_employees_filter" />
            {% endif %}
            <label class="my-button" for="chk_unpaid">Show only employees who weren't paid yet.</label>
            Search for employee: <input type="text" placeholder="{{ employee_filter }}" name="employee_filter"/>
        </form>

        <form method="get" action="{% url 'employees' %}">
            <input class="btn btn-primary" type="submit" name="clear_filters" value="Clear filters"/>
        </form>
    </div>
    {% if all_employee_list %}
    <div>

        <table class="table table-hover">
            <tr>
                <td class="cursor-hover" align="center" valign="middle">
                    <b>Full name</b>
                    <form title="Sort by last name ascending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=last_name&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-up"></a>
                    </form>
                    <form title="Sort by last name descending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=-last_name&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-down"></a>
                    </form>
                </td>
                <td class="cursor-hover" align="center" valign="middle">
                    <b>Rate per hour (zł)</b>
                    <form title="Sort by rate per hour ascending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=rate_per_hour&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-up"></a>
                    </form>
                    <form title="Sort by rate per hour descending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=-rate_per_hour&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-down"></a>
                    </form>
                </td>
                <td class="cursor-hover" align="center" valign="middle">
                    <b>Position</b>
                </td>
                <td class="cursor-hover" align="center" valign="middle">
                    <b>Contract expiration date</b>
                    <form title="Sort by contract expiration date ascending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=contract_exp_date&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-up"></a>
                    </form>
                    <form title="Sort by contract expiration date descending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=-contract_exp_date&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-down"></a>
                    </form>
                </td>
                <td class="cursor-hover" align="center" valign="middle">
                    <b>Health book expiration date</b>
                    <form title="Sort by health book expiration date ascending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=health_book_exp_date&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-up"></a>
                    </form>
                    <form title="Sort by health book expiration date descending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=-health_book_exp_date&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-down"></a>
                    </form>
                </td>
                <td class="cursor-hover" align="center" valign="middle">
                    <b>Total unpaid salaries (zł)</b>
                    <form title="Sort by unpaid salaries ascending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=unpaid_salaries&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-up"></a>
                    </form>
                    <form title="Sort by unpaid salaries descending" class="column-title-form"
                          action="{% url 'employees' %}" method="post">
                        <a href="?orderby=-unpaid_salaries&per_page={{ per_page }}#employee-table" class="glyphicon glyphicon-chevron-down"></a>
                    </form>
                </td>
                <td>
                </td>
            </tr>
            {% for employee in all_employee_list %}
            <tr>
                <td>
                    <a href="{% url 'employee_detail' employee.pk %}">{{ employee.full_name }}</a>
                </td>
                <td align="center" valign="middle">
                    {{ employee.rate_per_hour }}
                </td>
                <td align="center" valign="middle">
                    {{ employee.position }}
                </td>
                <td class="employee-list-date">
                    {% if employee.is_contract_expiring > 0 and warning_x_days_left > employee.is_health_book_expiring %}
                    <span title="Contract expires in about {{ employee.is_contract_expiring }} days."
                     class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                    {% elif employee.is_contract_expiring.1 %}
                    <span title="Contract expired {{ employee.is_contract_expiring.1 }} days ago!"
                     class="glyphicon glyphicon-warning-sign employee-list"></span>
                    {% endif %}
                    <span class="employee-list-date">{{ employee.contract_exp_date|date:"d.m.Y" }}</span>
                </td>
                <td class="employee-list-date">
                    {% if employee.is_health_book_expiring > 0 and warning_x_days_left > employee.is_health_book_expiring %}
                    <span title="Health book expires in about {{ employee.is_health_book_expiring }} days."
                     class="glyphicon glyphicon-exclamation-sign employee-list"></span>
                    {% elif employee.is_health_book_expiring.1 %}
                    <span title="Health book expired {{ employee.is_health_book_expiring.1 }} days ago!"
                     class="glyphicon glyphicon-warning-sign employee-list "></span>
                    {% endif %}
                    <span class="employee-list-date">{{ employee.health_book_exp_date|date:"d.m.Y" }}</span>
                </td>
                <td class="sorttable_numeric" align="center" valign="middle">
                    {% if employee.all_unpaid_salaries == 0 %}
                    0.00
                    {% elif employee.all_unpaid_salaries != 0 and employee.all_unpaid_salaries != None %}
                    {{ employee.all_unpaid_salaries }}
                    {% else %}
                    No salary data.
                    {% endif %}
                </td>
                <td align="right">
                    <a href="{% url 'employee_edit' employee.id %}">
                        <span title="Edit employee {{ employee }}" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="{% url 'employee_delete' employee.id %}">
                        <span title="Delete employee {{ employee }}" class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
        {% if page_obj.has_other_pages %}
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}">&laquo; Previous</a></li>
            {% else %}
                <li class="disabled"><span>&laquo; Previous</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}{{ getvars }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}">Next &raquo;</a></li>
            {% else %}
                <li class="disabled"><span>Next &raquo;</span></li>
            {% endif %}
            </ul><br/>

        {% endif %}
    <span>Employees per page:</span><br/>
        <ul class="pagination">
            {% for number in paginate_by_numbers %}
            {% if current_paginate_by_number == number %}
            <li class="active"><a href="?per_page={{ number }}&orderby={{ orderby }}">{{ number }}</a></li>
            {% else %}
            <li><a href="?per_page={{ number }}&orderby={{ orderby }}">{{ number }}</a></li>
            {% endif %}
            {% endfor %}
        </ul><br/>

    {% elif not messages %}
        <p>The list of employees is empty</p>
    {% endif %}

{% endblock %}