{% extends 'polishlody/base.html' %}
{% load widget_tweaks %}

{% block title %}Create new month{% endblock %}
{% block header_block %}
    <div class="panel panel-heading panel-default">
        <h4>
            {% if employee %}
            New month for {{ employee }}
            {% endif %}
            <a href="{% url 'employee_detail' employee.id %}" class="btn btn-default">Back</a>
        </h4>
    </div>
{% endblock %}
{% block body_block %}

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% for e in form %}
                {% if e.label == "Employee" %}
                    <div class="form-group" hidden>
                        <label class="col-sm-2 control-label">{{ e.label }}</label>
                        <div class="col-sm-2">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% elif e.label == "Hours worked in this month" %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hours worked:</label>
                        <div class="col-sm-2">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% elif e.label == "Rate per hour this month" %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Rate per hour:</label>
                        <div class="col-sm-2 form-field">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% elif e.label == "Paid?" %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ e.label }}</label>
                        <div class="col-sm-2 radio-select">
                            {{ e }}
                        </div>
                    </div>
                {% else %}
                <div class="form-group">
                        <label class="col-sm-2 control-label">{{ e.label }}:</label>
                        <div class="col-sm-2 form-field">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                <br>
                <center>
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary" />

                    <a href="{% url 'employee_detail' employee.id %}" class="btn btn-danger">Cancel</a>
                </center>
                <br>
            </form>
        </div>

    </div>

{% endblock %}