{% extends 'polishlody/base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Create new month' %}{% endblock %}
{% block header_block %}
    <div class="panel panel-heading panel-default">
        <h4>
            {% if employee %}
            {% trans 'New month for' %} {{ employee }}
            {% endif %}
            <a href="{% url 'employee_detail' employee.id %}" class="btn btn-default">{% trans 'Back' %}</a>
        </h4>
    </div>
{% endblock %}
{% block body_block %}

    <div class="panel panel-heading panel-default">
        <div class="form-container">
            <form method="post" class="form-horizontal" id="monthform">
                {% csrf_token %}
                {% for e in form %}
                {% if e.label == "Employee" %}
                    <div class="form-group" hidden>
                        <label class="col-sm-4 control-label">{{ e.label }}</label>
                        <div class="col-sm-4">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% elif e.html_name == "hours_worked_in_this_month" %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans 'Hours worked:' %}</label>
                        <div class="col-sm-4">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% elif e.html_name == "rate_per_hour_this_month" %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans 'Rate per hour:' %}</label>
                        <div class="col-sm-4 form-field">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% elif e.html_name == "salary_is_paid" %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ e.label }}</label>
                        <div class="col-sm-4 radio-select">
                            {{ e }}
                        </div>
                    </div>
                {% else %}
                <div class="form-group">
                        <label class="col-sm-4 control-label">{{ e.label }}:</label>
                        <div class="col-sm-4 form-field">
                            {{ e|add_class:"form-control" }}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                <br>
                <center>
                    <input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />

                    <a href="{% url 'employee_detail' employee.id %}" class="btn btn-danger">{% trans 'Cancel' %}</a>
                </center>
                <br>
            </form>
        </div>
    </div>

    <script>
        function getPk() {
            var employeeID= {{ employee.pk }}
            return employeeID
        }

        function resetmontform() { //function to reset form after site reload
            document.getElementById('monthform').reset();
        }
        resetmontform();
        var yearinit = null;
        var monthinit = null;
    </script>
{% endblock %}