{% extends 'polishlody/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}
{% if month %}{% trans 'Editing month' %} {{ month.get_month_display }} {{ month.year }}
{% else %}404
{% endif %}
{% endblock %}

{% block header_block %}
{% if month %}
<div class="panel panel-heading panel-default">
    <center>
        <h4>
            {% if employee and month %}
            {% trans 'Editing' %} {{ month.get_month_display }} {{ month.year }} {% trans 'for' %} {{ employee }}
            {% endif %}
        </h4>
    </center>
</div>
{% endif %}
{% endblock %}
{% block body_block %}
<a href="{% url 'employee_detail' employee.id %}" class="btn btn-default">{% trans 'Back' %}</a>
{% if month %}
    <div class="panel panel-heading panel-default">
        <div class="form-container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <form method="post" class="form-horizontal" id="monthform">
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.year.errors }}
                                {{ form.month.errors }}
                                {{ form.salary_is_paid.errors }}
                                {{ form.hours_worked_in_this_month.errors }}
                                {{ form.rate_per_hour_this_month.errors }}
                            </div>
                        {% endif %}
                        {% csrf_token %}
                        {% for e in form %}
                        {% if e.label == "Employee" %}
                            <div class="form-group" hidden>
                                <label class="col-sm-4 control-label">{{ e.label }}</label>
                                <div class="col-sm-4">
                                    {{ e|add_class:"form-control" }}
                                </div>
                            </div>
                        {% elif e.html_name == "hours_worked_in_this_month" %}
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans 'Hours worked:' %}</label>
                                <div class="col-sm-4">
                                    {{ e|add_class:"form-control" }}
                                </div>
                            </div>
                        {% elif e.html_name == "rate_per_hour_this_month" %}
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{% trans 'Rate per hour:' %}</label>
                                <div class="col-sm-4 form-field">
                                    {{ e|add_class:"form-control" }}
                                </div>
                            </div>
                        {% elif e.html_name == "salary_is_paid" %}
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ e.label }}</label>
                                <div class="col-sm-4 radio-select">
                                    {{ e }}
                                </div>
                            </div>
                        {% else %}
                        <div class="form-group">
                                <label class="col-sm-4 control-label">{{ e.label }}:</label>
                                <div class="col-sm-4 form-field">
                                    {{ e|add_class:"form-control" }}
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                        <br>
                        <center>
                            <input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary">
                            <a href="{% url 'employee_detail' employee.id %}" class="btn btn-default">{% trans 'Cancel' %}</a>
                        </center>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script><!-- javascript strings translations -->
    <script>
        function getPk() {
            var employeeID= {{ employee.pk }}
            return employeeID
        }

        function resetmontform() {
            document.getElementById('monthform').reset();
        }
        resetmontform();
        var yearinit = $('#id_year').val();
        var monthinit = $('#id_month').val();
    </script>
{% else %}

    <div class="panel panel-danger">
        <div class="panel-body">
            <p>The month you are trying to edit does not exist anymore.</p>
            <a href="{% url 'employees' %}" class="btn btn-default">Back to the employee list</a>
        </div>
    </div>
{% endif %}
{% endblock %}