{% extends 'polishlody/base.html' %}
{% load i18n %}

{% block title %}
{% if month %}{% trans 'Confirmation' %}
{% else %} 404
{% endif %}
{% endblock %}
        
{% block body_block %}

    {% if month %}
    <div class="panel panel-heading panel-danger">
        <center>
            <div>
                <h4>{% trans 'Confirmation' %}</h4>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {% trans 'Are you sure you want to delete' %} {{ object.get_month_display }} {{ object.year }}?<br>
                    <p class="warning">
                        {% trans 'Any data related to this month will be lost forever.' %}
                    </p>
                    <br>
                    {% if employee %}
                    <a href="{% url 'employee_detail' employee.id %}"><input type="submit" name="submit" value="{% trans 'Yes' %}" class="btn btn-danger"></a>
                    <a href="{% url 'employee_detail' employee.id %}" class="btn btn-default">{% trans 'No, take me back to the employee detail' %}</a>
                    {% endif %}
                </form>
            </div>
            </div>
            {% else %}
            <div class="panel panel-danger">
            <div class="panel-body">
                <p>{% trans 'The month you are trying to delete does not exist anymore.' %}</p>
                <a href="{% url 'employees' %}" class="btn btn-default">{% trans 'Back to the employee list' %}</a>
            </div>
        </center>
    </div>

    {% endif %}

{% endblock %}