{% extends 'polishlody/base.html' %}

{% block title %}Manager dashboard{% endblock %}
        
{% block body_block %}

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Employees</h4></div>
            <div class="panel-body">
                {% if user.is_staff %}
                    <ul>
                        <li>
                            <a href="{% url 'employees' %}">Employee list</a>
                        </li>
                        <li>
                            <a href="{% url 'sales' %}">Sales</a>
                        </li>
                    </ul>
                    <a href="{% url 'employee_new' %}" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add employee</a>
                {% elif user.employee.id == user.pk %}
                    <a href="{% url 'employee_detail' user.pk %}">My Details</a>
                {% else%}
                    <a>Your have no power here!!!</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>

{% endblock %}
