{% extends 'polishlody/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Manager dashboard' %}{% endblock %}
        
{% block body_block %}

    <div class="container">
        <div class="panel panel-heading panel-default">
            <div>
                <h4>{% blocktrans %}Dashboard{% endblocktrans %}</h4>
            </div>
            <div class="panel-body">
                {% if user.is_staff %}
                    <ul>
                        <li>
                            <a href="{% url 'employees' %}">{% trans 'Employee list' %}</a>
                        </li>
                        <li>
                            <!-- <a disabled href="{% url 'sales' %}">Sales (under construction)</a> -->
                            {% trans 'Sales (under construction)' %}
                        </li>
                    </ul>
                {% elif user.employee.id == user.pk %}
                    <a href="{% url 'employee_detail' user.pk %}">{% trans 'My Details' %}</a>
                {% else%}
                    <a>Your have no power here!!!</a>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-heading panel-default">
            <h4>{% trans 'Weather forecast' %}</h4>
            <br>
            <table class="table " id="apixu">
                <thead></thead>
                <tbody></tbody>
            </table>
            <br>
            <a href="{% url 'weather_forecast' %}">{% trans '7 days/ 1 hour forecast' %}</a>
        </div>
    </div>

    <script type="text/javascript">//dashboard weather table script
    var weather_apixu = "https://api.apixu.com/v1/forecast.json?key=e3acfecab7234cd4b26110712172102&q=Wroclaw&days=7";
    lscache.flushExpired();
    if (localStorage.getItem('lscache-weatherData')==null) {
        $.getJSON(weather_apixu, function(data) {
            lscache.set('weatherData', data, 360);
            var localWeatherData = JSON.parse(localStorage.getItem('lscache-weatherData'));
            PopulateTableDashboard();
        });
    } else {
        PopulateTableDashboard();
    }
    function PopulateTableDashboard(){
        var localData = JSON.parse(localStorage.getItem('lscache-weatherData'));
        var forecast = [];
        forecast.push("<tr>");
        $.each(localData.forecast.forecastday, function(key, val){
            var date = new Date(val.date_epoch*1000);
            var days = ["{% trans 'Sun' %}","{% trans 'Mon' %}","{% trans 'Tue' %}","{% trans 'Wed' %}","{% trans 'Thu' %}","{% trans 'Fri' %}","{% trans 'Sat' %}"];
            var day = days[date.getDay()];
            if(key == 0) {
                day = "{% trans 'Today' %}";
            }
            var months = ["{% trans 'Jan' %}", "{% trans 'Feb' %}", "{% trans 'Mar' %}", "{% trans 'Apr' %}", "{% trans 'May' %}", "{% trans 'Jun' %}", "{% trans 'Jul' %}", "{% trans 'Aug' %}", "{% trans 'Sep' %}", "{% trans 'Oct' %}", "{% trans 'Nov' %}", "{% trans 'Dec' %}"];
            var month = months[date.getMonth()];
            forecast.push("<th>"+day+"<br>"+date.getDate()+" "+month+"</th>");
        });
        forecast.push("</tr>");
        forecast.push("<tr>");
        $.each(localData.forecast.forecastday, function(key, val){
            var icon = val.day.condition.icon;
            forecast.push("<td class=text-center>"+'<img src="https:'+ icon+ '">'+"</td>");
        });
        forecast.push("</tr>");
        forecast.push("<tr>");
        $.each(localData.forecast.forecastday, function(key, val){
            var mintemp = Math.round(val.day.mintemp_c);
            var maxtemp = Math.round(val.day.maxtemp_c);
            forecast.push("<td>"+"{% trans ' from ' %}"+(mintemp).toFixed(0)+"&#8451"+"{% trans ' to ' %}"+(maxtemp).toFixed(0)+"&#8451");
        });
        forecast.push("</tr>");
        $("#apixu").append($(forecast.join('')));
    }
    </script>
{% endblock %}
