{% extends 'polishlody/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Weather forcastdaily' %}{% endblock %}
        
{% block header_block %}
<div class="panel panel-heading panel-default">
    <center>
        <h4>{% trans 'Weather forcastdaily' %}</h4>
    </center>
</div>
{% endblock %}

{% block body_block %}
    <!-- Usunąć z tabeli klasy table-bordered i table-striped, żeby tabela bardziej przypominała pozostałe tabelki na stronie -->
    <div class="container">
        <table class="table table-bordered table-hover " id="forecastdaily_table">
            <thead>
            <tr>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Date' %}</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Avg Temp ' %}[&#8451]</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Min Temp ' %}[&#8451]</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Max Temp ' %}[&#8451]</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Humidity ' %}[%]</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Max Wind ' %}[km/h]</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Total Precipitation ' %}[mm]</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Sunrise' %}</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Sunset' %}</th>
                <th class="text-center" style="vertical-align:middle;">{% trans 'Description' %}</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
        var weather_apixu = "https://api.apixu.com/v1/forecast.json?key=e3acfecab7234cd4b26110712172102&q=Wroclaw&days=7";
        lscache.flushExpired();
        if (localStorage.getItem('lscache-weatherData')==null) {
            $.getJSON(weather_apixu, function(data) {
                // var dataToStore = JSON.stringify(data);
                lscache.set('weatherData', data, 360);
                var localWeatherData = JSON.parse(localStorage.getItem('lscache-weatherData'));
                PopulateTableForcastDaily();
            });
        } else {
            PopulateTableForcastDaily();
        }
    });

    function PopulateTableForcastDaily() {
        var localWeatherData = JSON.parse(localStorage.getItem('lscache-weatherData'));
        var WeatherConditionsTrans = JSON.parse(sessionStorage.getItem('conditions_trans'));
        var forecast = [];
        $.each(localWeatherData.forecast.forecastday, function(key, val){
            var date = new Date(val.date_epoch*1000);
            var days_pl = ['Niedziela','Poniedziałek','Wtorek','Środa','Czwartek','Piątek','Sobota'];
            var days = ["{% trans 'Sunday' %}", "{% trans 'Monday' %}","{% trans 'Tuesday' %}", "{% trans 'Wednesday' %}", "{% trans 'Thursday' %}", "{% trans 'Friday' %}" , "{% trans 'Saturday' %}"];
            var day = days[date.getDay()];
            var finaldate = (date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate());
            var avgtemp = Math.round(val.day.avgtemp_c);
            var mintemp = Math.round(val.day.mintemp_c);
            var maxtemp = Math.round(val.day.maxtemp_c);
            forecast.push("<tr>");
            forecast.push("<td>"+day+"<br>"+finaldate+"</td>");
            forecast.push("<td>"+avgtemp.toFixed(0)+"</td>");
            forecast.push("<td>"+mintemp.toFixed(0)+"</td>");
            forecast.push("<td>"+maxtemp.toFixed(0)+"</td>");
            forecast.push("<td>"+(val.day.avghumidity)+"</td>");
            forecast.push("<td>"+(val.day.maxwind_kph).toFixed(0)+"</td>");
            forecast.push("<td>"+(val.day.totalprecip_mm).toFixed(0)+"</td>");
            forecast.push("<td>"+(val.astro.sunrise)+"</td>");
            forecast.push("<td>"+(val.astro.sunset)+"</td>");
            if (template_lang=="pl" && sessionStorage.getItem('conditions_trans')!=null) {
                $.each(WeatherConditionsTrans, function(key2,val2){
                    if(val2.code == val.day.condition.code){
                        forecast.push("<td>"+val2.languages[19].day_text+"</td>");
                    }
                });
            } else {
                forecast.push("<td>"+val.day.condition.text+"</td>");
            }
            forecast.push("</tr>");
        });
        $("#forecastdaily_table").append($(forecast.join('')));
    }
    </script>
    
{% endblock %}