{% extends 'polishlody/base.html' %}

{% block title %}Weather forcastdaily{% endblock %}
        
{% block header_block %}
<div class="panel panel-heading panel-default">
    <center>
        <h4>Weather forcastdaily</h4>
    </center>
</div>
{% endblock %}

{% block body_block %}
    <!-- Usunąć z tabeli klasy table-bordered i table-striped, żeby tabela bardziej przypominała pozostałe tabelki na stronie -->
    <div class="container">
        <table class="table table-bordered table-striped table-hover ">
            <thead>
            <tr>
                <th class="text-center" style="vertical-align:middle;">Date</th>
                <th class="text-center" style="vertical-align:middle;">Avg Temp [&#8451]</th>
                <th class="text-center" style="vertical-align:middle;">Min Temp [&#8451]</th>
                <th class="text-center" style="vertical-align:middle;">Max Temp [&#8451]</th>
                <th class="text-center" style="vertical-align:middle;">Humidity [%]</th>
                <th class="text-center" style="vertical-align:middle;">Max Wind [km/h]</th>
                <th class="text-center" style="vertical-align:middle;">Total Precipitation [mm]</th>
                <th class="text-center" style="vertical-align:middle;">Sunrise</th>
                <th class="text-center" style="vertical-align:middle;">Sunset</th>
                <th class="text-center" style="vertical-align:middle;">Description</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script type="text/javascript">
    var weather_apixu = "https://api.apixu.com/v1/forecast.json?key=e3acfecab7234cd4b26110712172102&q=Wroclaw&days=7";
    $.getJSON(weather_apixu, function(data){
        var forecast = [];
        $.each(data.forecast.forecastday, function(key, val){
            var date = new Date(val.date_epoch*1000);
            var days_pl = ['Niedziela','Poniedziałek','Wtorek','Środa','Czwartek','Piątek','Sobota'];
            var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var day = days[date.getDay()];
            var finaldate = (date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate());
            var avgtemp = Math.round(val.day.avgtemp_c);
            var mintemp = Math.round(val.day.mintemp_c);
            var maxtemp = Math.round(val.day.maxtemp_c);
            forecast.push("<tr>");
            forecast.push("<td>"+day+"<br>"+finaldate+"</td>");
            forecast.push("<td>"+avgtemp.toFixed(0)+"</td>");
            forecast.push("<td>"+mintemp.toFixed(0)+"</td>");
            forecast.push("<td>"+maxtemp.toFixed(0)+"</td>");
            forecast.push("<td>"+(val.day.avghumidity)+"</td>");
            forecast.push("<td>"+(val.day.maxwind_kph).toFixed(0)+"</td>");
            forecast.push("<td>"+(val.day.totalprecip_mm).toFixed(0)+"</td>");
            forecast.push("<td>"+(val.astro.sunrise)+"</td>");
            forecast.push("<td>"+(val.astro.sunset)+"</td>");
            forecast.push("<td>"+val.day.condition.text+"</td>");
            forecast.push("</tr>");
        });
        $("table").append($(forecast.join('')));
    }); //get JSON weather_api function
    </script>
    
{% endblock %}